<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
            
                <h1 class="text-center p-2 mt-3">Add a product</h1>
                <form method="post">
                <div>
                    <label for='product_name'>Enter product name</label>
                    <input type="text" class="form-control" name="product_name" placeholder="Enter product name" value="{{product_name}}"required>
                    <div class="p-2"></div>
                    <label for='product_price'>Enter price</label>
                    <input type="number" class="form-control" name="product_price" placeholder="Enter price" step = ".01" min ="0.1" value="{{product_price}}" required>
                    <div class="p-2"></div>
                    {{!-- {{ form-label 'expenses' 'Please enter expenses of product'}}
                    <div class="p-2"></div> --}}
                    <label for='discount'>Discount</label>
                    <input type="number" class="form-control" name="discount" step=".01" min = "0" value="{{discount}}" required>
                    <div class="p-2"></div>
                    <label for='stock'>Enter stock</label>
                    <input type="number" class="form-control" name="stock" placeholder="Enter stock" value="{{stock}}" required>
                    <div class="p-2"></div>

                    <label for="brandId">Add a brand</label>
                    <select name="brandId" id="brandId" class="form-control" required>
                     <option value="" selected="selected" hidden="hidden"> Select A Brand</option>
                     {{#each brands}}
                     <option value="{{id}}">{{brand_name}}</option>
                     {{/each}}
                    </select>
                    <div class="p-2"></div>


                    <label for="categoryId">Add a category</label>
                    <select name="categoryId" id="categoryId" class="form-control" required>
                      <option value="" selected="selected" hidden="hidden"> Add a Category</option>Select A category</option>
                      {{#each category}}
                      <option value="{{id}}">{{category_name}}</option> 
                      {{/each}}
                    </select>
                    <div class="p-2"></div>
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" class="form-control" rows=10 value="{{desc}}"></textarea>
                    <div class="p-2"></div>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"> 
                          <input type="file" name="image" id="image" onchange="imagePreview(event)" accept="image/*" value="{{image}}"required>
                          <img src="" id="output">
                        </div>
                    </div>
                </div>
                <div class="p-2"></div>

                <p><input type="submit" value="{{#if getproduct}}Update {{else}}Add{{/if}} product" class="btn btn-success"></p>
                </form>
                <div class="p-2"></div>
                <div class="p-2"></div>
                <div class="p-2"></div>

            </div>
      <div class="col-md-10"></div>
    </div>
</div>
    <script>
      var imagePreview = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
          var output = document.getElementById('output');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
      };
    </script>