<main>
        <section>
            <h3 class="section-head">Overview</h3>
            <div class="analytics">
                <div class="analytic">
                    <div class="analytic-icon">
                        <span class="las la-calculator"></span>
                    </div>
                    <div class="analytic-info">
                        <h4 style="">Total Coupons Redeemed</h4>
                        <h3>{{total}} <small class="text-danger"></small></h3>
                    </div>
                </div>
            </div>
        </section>

    <section>
            <div class="graph-card">
                <h3 class="section-head">Graph</h3>
                <div class="graph-content">
                    <div class="graph-head">
                        <div class="icons-wrapper">
                            <h3>Coupons Redeemed</h3>
                        </div>
                    </div>
                    <div class="graph-board">
                        <canvas id="revenueChart" width="100%" height="51px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script>
    Chart.defaults.global.defaultFontFamily = "Poppins";
        let ctx = document.querySelector("#revenueChart");

            var date = new Date();
            today = date.toISOString().slice(0,10) //Today's date

            date.setDate(date.getDate() - 1); 
            yesterday = date.toISOString().slice(0,10) //Yesterday's date

            date.setDate(date.getDate() - 1);
            twodaysback = date.toISOString().slice(0,10) // 2 days back date

            date.setDate(date.getDate() - 1);
            threedaysback = date.toISOString().slice(0,10) // 3 days back date

            date.setDate(date.getDate() - 1);
            fourdaysback = date.toISOString().slice(0,10) // 4 days back date

        let revChart=new Chart(ctx, {
            type:"line",
            data:{
                labels:[fourdaysback, threedaysback, twodaysback, yesterday, today],
                datasets:[
                    {
                        label:"No. of Coupons Redeemed",
                        borderColor:"#396aff",
                        borderWidth:"3",
                        backgroundColor:"rgba(233,238,253,0.7)",
                        data:[{{fourdaysbackcount}},{{threedaysbackcount}}, {{twodaysbackcount}}, {{yesterdaycount}}, {{todaycount}}]
                    }
                ]
            },
            options:{
                responsive: true,
                tooltips: {
                    intersect: false,
                    node: "index"
                }
            }
        });

    
</script>

<style>
    header {
        background-color: white;
    }
</style>