
<div class="container">
  <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
    <table class="table table-striped" style="font-size: 1.125rem!important;">
        <thead style="text-align: left!important;">
            <th>Sr</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Amount in Stock</th>
            <th>Stock</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
          {{#product}}
          <tr>
            <td>{{id}}</td>
            <td> <img src="/images/{{image}}" alt="{{product_name}}" style="width: 80px !important; height: 80px !important;"></td>
            <td>{{ product_name }}</td>
            <td>{{ product_price }}</td>
            <td>{{ discount }}</td>
            <td>{{ "brand.brand_name"}}</td>
            <td>{{ stock }}</td>
            <td><a href="/admin/updatestock/{{id}}" class="btn btn-success">Stock</a></td>
            <td><a href="/admin/updateproduct/{{id}}" class="btn btn-info">Edit </a> </td>
            <form action="/admin/deleteproduct/{{id}}" method='POST'>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{id}}">
                    Delete
                </button>
            </td>

          </tr>

<div class="modal" id="myModal_{{id}}">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Are you sure you want to delete {{product_name}}?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <input type="submit" value="Delete" class="btn btn-danger">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>
  </form>
        {{/product}}