<div class="container">
  <div class="row">
        <div></div>
            <div class="col-md-10">
    <table class="table table-striped" style="font-size: 1.125rem!important;">
        <thead style="text-align: left!important;">
            <th>Sr</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Amount in Stock</th>
            <th>Stock</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody class="tbody" id="tbody">
          {{#product}}
          <div class="product">
          <tr>
            <td>{{id}}</td>
            <td> 
              <img src="/images/{{image}}" alt="{{product_name}}" style="width: 80px !important; height: 80px !important;">
            </td>
            <td>{{ product_name }}</td>
            <td>{{ product_price }}</td>
            <td>{{ discount }}</td>
            <td>{{ "brand.brand_name"}}</td>
            <td>{{ stock }}</td>
            <td>
            <form action="/admin/updatestock/{{id}}" method="POST">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updatestock_{{id}}">
                  Add Stock
                </button>
              <div class="modal" id="updatestock_{{id}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Add Stock</h4>
                    </div>
                      <div class="modal-body">
                        Currently in stock: {{stock}}
                      </div>
                      <div class="modal-footer">
                        <input type="number" class="form-control" name="stock" placeholder="Enter stock">
                        <input type="submit" value="Add" class="btn btn-success">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      </div>
                </div>
              </div>
            </form>
            </td>
            <td><a href="/admin/updateproduct/{{id}}" class="btn btn-info">Edit </a> </td>
            <form action="/admin/deleteproduct/{{id}}" method='POST'>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{id}}">
                    Delete
                </button>
            </td>

          </tr>

        <div class="modal" id="myModal_{{id}}">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    Are you sure you want to delete {{product_name}}?
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <input type="submit" value="Delete" class="btn btn-danger">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>
      </form>
      </div>
{{/product}}
      </tbody>
      </table>
      </div>
<div class="w-100 text-center pagination">
  <input type="hidden" value="{{totalPages}}" id="totalPages">
  <ul id="paging">
    {{!-- <li class="btn prev"><span><i class="fas fa-angle-left">Prev</i></span></li>
    <li class="numb active"><span>1</span></li>
    <li class="numb"><span>2</span></li>
    <li class="dots"><span>...</span></li>
    <li class="numb"><span>4</span></li>
    <li class="numb"><span>5</span></li>
    <li class="dots"><span>...</span></li>
    <li class="numb"><span>7</span></li>
    <li class="btn next"><span><i class="fas fa-angle-right">Next</i></span></li> --}}
  </ul>
</div>
      </div>
      </div>

<style>
.container{
  padding-top: 50px;
	width: 130%;
}
.pagination ul{
  display: flex;
  background: #20b2aa;
  padding: 8px;
  border-radius: 50px;
}
.pagination ul li{
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
}
.pagination ul li.prev{
  border-radius: 25px 5px 5px 25px;
}
.pagination ul li.next{
  border-radius: 5px 25px 25px 5px;
}
.pagination ul li.active,
.pagination ul li.numb:hover,
.pagination ul li.btn:hover{
  background: #fff;
}

</style>
<script>
  function getPage(element){
    page = element.value
    $.ajax({
      type: 'GET',
      url: '/admin/inventory?page='+page,
      success: function(data){
        location.replace('/admin/inventory?page='+page);
      }
    })
  }
  function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}
var page = getParameterByName('page');
var totalPages =  document.getElementById('totalPages').value;
if(page == null){
    page = 0
}
window.addEventListener('load', setActive)
  function setActive(){
    element(totalPages, parseInt(page))
    }
const ulTag = document.getElementById('paging')
function element(totalPages, page){
  let liTag =""
  let activeLi;
  let beforePages = page - 1;
  let afterPages = page + 1
  if(page > 1){
    liTag += `<li class="btn prev" onclick="getPage(this)"value="${page-1}"><span><i class="fas fa-angle-left">Prev</i></span></li>`
  }
  if(page > 2){
    liTag += `<li class="numb" id="1" onclick="getPage(this)" value="1"><span>1</span></li>`
    if(page > 3){
      liTag += `<li class="dots"><span>...</span></li>`
    }
  }
  if(page == totalPages){
    beforePages = beforePages - 2
  }else if( page == totalPages -1){
    beforePages = beforePages - 1
  }
  if(page == 1){
    afterPages = afterPages + 2
  }else if( page == 2){
    afterPages = afterPages + 1
  }
  for(let pageLength = beforePages; pageLength <= afterPages; pageLength++){
    if(pageLength > totalPages){
      continue;
    }
    if(pageLength == 0){
      pageLength = pageLength + 1
    }
    if(page==pageLength){
      activeLi = "active";
    }else{
      activeLi = "";
    }
    liTag += `<li class="numb ${activeLi}" onclick="getPage(this)"value="${pageLength}"><span>${pageLength}</span></li>`
  }
  if(page < totalPages-1){
    if(page < totalPages -2){
      liTag += `<li class="dots"><span>...</span></li>`
    }
    liTag += `<li class="numb" id="${totalPages}"onclick="getPage(this)" value="${totalPages}"><span>${totalPages}</span></li>`
  }

  if(page < totalPages-1){
    liTag += `<li class="btn next" id=$"{page+1}" onclick="getPage(this)" value="${page+1}"><span><i class="fas fa-angle-right">next</i></span></li>`
  }
  ulTag.innerHTML = liTag
}
</script> 