<div class="container-fluid">

<div class="container">
  <!-- Title -->
  <div class="d-flex justify-content-between align-items-center py-3">
    {{#orders}}
      <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #{{id}}</h2>
    {{/orders}}
  </div>

  <!-- Main content -->
  <div class="row">
    <div class="col-lg-8">
      <!-- Details -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="mb-3 d-flex justify-content-between">
            <div>
      {{#orders}}
              <span class="me-3">{{getDateOnly createdAt}}</span>
    {{/orders}}
              <span class="badge rounded-pill bg-info">DELIVERING</span>
            </div>
            <div class="d-flex">
              <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button>
              <div class="dropdown">
                <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                  <i class="bi bi-three-dots-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                  <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                </ul>
              </div>
            </div>
          </div>
          <table class="table table-borderless">
            <tbody>
                  {{#each item}}
              <tr>
                <td>
                  <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                      <img src="/images/{{image}}" alt="" width="35" class="img-fluid">
                    </div>
                    <div class="flex-lg-grow-1 ms-3">
                      <h6 class="small mb-0"><a href="#" class="text-reset">{{product_name}}</a></h6>
                    </div>
                  </div>
                </td>
                <td>{{quantity}}</td>
                <td class="text-end">${{totalCost}}</td>
              </tr>
                  {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Subtotal</td>
                <td class="text-end">${{totalAmount}}</td>
              </tr>
              <tr>
                <td colspan="2">Delivery</td>
                <td class="text-end">$0.00</td>
              </tr>
              <tr class="fw-bold">
                <td colspan="2">TOTAL</td>
                <td class="text-end">${{totalAmount}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- Payment -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <h3 class="h6">Payment Method</h3>
              Total: ${{totalAmount}} <span class="badge bg-success rounded-pill">PAID</span></p>
            </div>
            <div class="col-lg-6">
              <h3 class="h6">Billing address</h3>
              {{#orders}}
                <strong>{{name}}</strong><br>
                {{address}}
                <address>
                  <abbr title="Phone">P:</abbr> {{phone}}
                </address>
              {{/orders}}
            </div>
          </div>
        </div>
      </div>

        <div class="card mb-4">
        <div class="card-body">
            <h3 style="padding:30px;">Product Review</h3>
              <div class="container">
                {{#each item}}
                <div class="feedback">
                  <div class="emoji-wrapper">
                      <h5>Leave us a review for the {{product_name}} you have purchased </h5>
                  </div>
                  <div class="rating">
                  <button onclick="changeToActive(this)" value ='{{id}}' class="fa fa-star" id="{{id}}-1"></button>
                  <button onclick="changeToActive(this)" value ='{{id}}' class="fa fa-star " id="{{id}}-2"></button>
                  <button onclick="changeToActive(this)" value ='{{id}}' class="fa fa-star " id="{{id}}-3"></button>
                  <button onclick="changeToActive(this)" value ='{{id}}' class="fa fa-star " id="{{id}}-4"></button>
                  <button onclick="changeToActive(this)" value ='{{id}}' class="fa fa-star " id="{{id}}-5"></button>
                  <button onclick="submit(this)" id="{{id}}" disabled>submit</button>
                  </div>
                </div>
                <div class="mb-4"></div>
                {{/each}}
            </div>
          

        {{!-- {{/if}} --}}
      </div>


    </div>
  </div>
</div>
  </div>
<script>
window.addEventListener("load", checking)

function checking(){
  $.ajax({
    url: '/user/rating',
    type: 'GET',
    success(data){
      for(var a in data){
        document.getElementById(data[a]['productId']).innerHTML = "Thanks for your review" 
        for(i=1; i<= data[a]['rating']; i++){
          document.getElementById(data[a]['productId']+'-'+i).classList.add('checked')
          document.getElementById(data[a]['productId']+'-'+i).disabled = true
        }
      }
    }
  })
}

function submit(element){
  id = element.id
  value = 0
  if(document.getElementById(id+'-5').classList.contains('checked')){
    value = 5
  }else if(document.getElementById(id+'-4').classList.contains('checked')){
    value = 4
  }else if(document.getElementById(id+'-3').classList.contains('checked')){
    value = 3
  }
  else if(document.getElementById(id+'-2').classList.contains('checked')){
    value = 2
  }
  else if(document.getElementById(id+'-1').classList.contains('checked')){
    value = 1
  }
  $.ajax({
    type: "POST",
    url: '/user/rating',
    data: {
      rating: value,
      productId : id
    }
  })
}

function changeToActive(element){
  document.getElementById(element.value).removeAttribute('disabled')
  if(element.id == element.value+'-1'){
    for(i=1; i<2; i++){
      a = element.value + "-"+ i
        if(document.getElementById(element.value+'-'+i).classList.contains('checked')){//check if id='i' have been checked
        console.log(a)
          if(document.getElementById(element.value+'-'+(i+1)).classList.contains('checked')){
            for(r=2;r<6;r++){
              document.getElementById(element.value+'-'+r).classList.remove('checked')
            }
          }
        }else{
          document.getElementById(element.value+'-'+i).classList.add('checked')
        }
    }
  }else if(element.id == element.value+'-2'){
    for(i=1; i<3; i++){
        if(document.getElementById(element.value+'-'+i).classList.contains('checked')){//check if id='i' have been checked
          if(document.getElementById(element.value+'-'+(i+1)).classList.contains('checked')){
            for(r=3;r<6;r++){
              document.getElementById(element.value+'-'+r).classList.remove('checked')
            }
          }
        }else{
          document.getElementById(element.value+'-'+i).classList.add('checked')
        }
    }
  }else if(element.id == element.value+'-3'){
    for(i=1; i<4; i++){
        if(document.getElementById(element.value+'-'+i).classList.contains('checked')){//check if id='i' have been checked
          if(document.getElementById(element.value+'-'+(i+1)).classList.contains('checked')){
            for(r=4;r<6;r++){
              document.getElementById(element.value+'-'+r).classList.remove('checked')
            }
          }
        }else{
          document.getElementById(element.value+'-'+i).classList.add('checked')
        }
    }
  }else if(element.id == element.value+'-4'){
    for(i=1; i<5; i++){
        if(document.getElementById(element.value+'-'+i).classList.contains('checked')){//check if id='i' have been checked
          if(document.getElementById(element.value+'-'+(i+1)).classList.contains('checked')){
            for(r=4;r<6;r++){
              document.getElementById(element.value+'-'+r).classList.remove('checked')
            }
          }
        }else{
          document.getElementById(element.value+'-'+i).classList.add('checked')
        }
    }
  }else if(element.id == element.value+'-5'){
    for(i=1; i<6; i++){
        if(document.getElementById(element.value+'-'+i).classList.contains('checked')){//check if id='i' have been checked
            continue
        }else{
          document.getElementById(element.value+'-'+i).classList.add('checked')
        }
    }
  }
}
</script>
<style>
body{
    background:#eee;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a {
    color: #5465ff;
    text-decoration: none;
}
* { box-sizing: border-box; }


.checked {
  color: orange;
}
</style>