<div class="container mt-5">
    <a href="/product/products" class="btn btn-secondary">Back</a>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="/images/{{products.image}}" alt="{{products.product_name}}" width="400" height="400">
        </div>
        <div class="col-md-6">
            <p style="font-size: 32px; color: #319e40; font-weight: 500; line-height: 32px; vertical-align:top; text-align: left;">${{products.product_price}}</p>
            {{#if (checkdiscount products.discount) }}
            <p style="font-size: 21px; color: #f05229; font-weight: 600; line-height: 37.8px; vertical-align:top; text-align: left;">{{products.discount}}% OFF </p>
            {{/if}}
            <p style="font-size: 24px; color: #4a4a4a; font-weight: 400; line-height: 24px; vertical-align: top; text-align: left; padding: 0px;">{{products.product_name}}</p>
            <hr>
            <p style="font-size: 16px; color: #4a4a4a; font-weight: 400; line-height: 24px; vertical-align: top; text-align: left; margin: 0px 0px 30px;">{{products.desc}}</p>
            <form action="" method="post">
                {{#if (checkstock products.stock)}}
                <input type="hidden" name="product_id" value="{{products.id}}">
                <button type="submit" class="btn btn-sm btn-warning">Add to Cart</button>
                <label for="quantity">Quantity: </label>
                <input type="number" name="quantity" value="1" min="1" max="{{products.stock}}">
                {{else}}
                <button type="submit" disabled class="btn btn-sm btn-danger">Out of Stock</button>
                {{/if}}
                <br>
                <br>
                <h3>Stock: {{products.stock}}</h1>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3" id="s_image">
            <img src="/images/{{products.image}}" alt="{{products.product_name}}" width="100" height="100" class="p-3" style="border: 1px solid black;">
        </div>
    </div>
   
</div>

<script>
   var b_image = document.getElementById('b_image');
   var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for(var i = 0; i < s_image.length; i++){

        s_image[i].addEventListener('click', full_image);
    }
    function full_image(){
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + ImageSRC + " width='400' height='400'>";
    }
</script>