<link rel="stylesheet" href="/css/product.css">

<div class="container" style="padding-top: 50px;">
  <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header"> 
    <button class="btn btn-hide text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#filterbar" aria-expanded="false" aria-controls="filterbar" id="filter-btn">
     <span class="fas fa-angle-left" id="filter-angle"></span> 
     <span id="btn-txt" >Filters</span> 
     </button>
    <nav class="navbar navbar-expand-lg navbar-light ps-lg-0 ps-auto"> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav" aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation" onclick="chnageIcon()" id="icon"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="mynav">
        <ul class="navbar-nav d-lg-flex align-items-lg-center">
          <li class="nav-item active"> 
            <select name="sort" id="sort">
              <option value="" hidden selected>Sort by</option>
                <option value="price">Highest Price</option>
              <option value="price">Highest Price</option>
              <option value="popularity">Lowest Price</option>
              <option value="rating">Rating</option>
            </select> </li>
          <li class="nav-item d-lg-none d-inline-flex"> </li>
        </ul>
      </div>
    </nav>
  </div>
  <form>
  <div id="content" class="my-5">
    <div id="filterbar" class="collapse">
     <div class="box border-bottom">
        <div class="form-group text-center">
          <div class="btn-group" data-toggle="buttons"> 
            <label class="btn btn-success form-check-label"> <input class="form-check-input" type="radio"> Reset </label> 
            <label class="btn btn-success form-check-label active"> <input class="form-check-input" type="radio" checked onclick="submitFilter(this)" id="apply"> Apply </label> 
          </div>
        </div>
      </div>
      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">Categories <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box" aria-expanded="false" aria-controls="inner-box" id="out"> <span class="fas fa-plus"></span> </button> </div>
        <div id="inner-box" class="collapse mt-2 me-1">
          {{#each category}}
          <div class="my-1"> <label class="tick">{{category_name}}<input type="checkbox" id="category" value="{{category_name}}" class="category-active" name="{{category_name}}"onclick="settingFilter(this)" checked> <span class="check"></span> </label> </div>
          {{/each}}
          <div class="my-1"> <label class="tick">Select All Categories<input type="checkbox" id="category" value="{{category_name}}" class="category-active" name="{{category_name}}"onclick="settingFilter(this)" checked> <span class="check"></span> </label> </div>
        </div>
      </div>

      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">Brands <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#inner-box2" aria-expanded="false" aria-controls="inner-box2"><span class="fas fa-plus"></span></button> </div>
        <div id="inner-box2" class="collapse mt-2 me-1">
          {{#each brands}}
          <div class="my-1"> <label class="tick">{{brand_name}}<input type="checkbox" id="brand" value="{{brand_name}}" class="brand-active" name="{{brand_name}}" onclick="settingFilter(this)" checked> <span class="check"></span> </label> </div>
          {{/each}}
          <div class="my-1"> <label class="tick">Select All Brands<input type="checkbox" id="brand" value="{{brand_name}}" class="brand-active" name="{{brand_name}}" onclick="settingFilter(this)" checked> <span class="check"></span> </label> </div>
        </div>
      </div>

      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex align-items-center">price <button class="btn ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#price" aria-expanded="false" aria-controls="price"><span class="fas fa-plus"></span></button> </div>
        <div class="collapse" id="price">
          <div class="middle">
              <div class="price-input">
                <div class="field">
                  <span>Min</span>
                  <input type="number" class="input-min" value="2500">
                </div>
                <div class="separator">-</div>
                <div class="field">
                  <span>Max</span>
                  <input type="number" class="input-max" value="7500">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "products">
    <div class = "container">
        <div class = "product-items">
          {{!-- products --}}
        </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 30px;">
<div class="col text-center">
</div>
<script>
var page = 0;
var working = false;
var search = getParameterByName('search');
var category = getParameterByName('category');
var brand = getParameterByName('brand');
var min = getParameterByName('min');
var max = getParameterByName('max');
if(search == null){
    search =""
}
document.getElementById('filter-btn').addEventListener("click", changeHTML)
window.addEventListener("load", changeToActive)

function changeHTML(){
  button = document.getElementById('filter-btn')
  if(button.innerHTML == `<span class="fas fa-angle-left" id="filter-angle"></span> 
     <span id="btn-txt">Hide Filters</span> `){
      button.innerHTML = `<span class="fas fa-angle-left" id="filter-angle"></span> 
     <span id="btn-txt" >Filters</span> `
     }else{
      button.innerHTML = `<span class="fas fa-angle-left" id="filter-angle"></span> 
     <span id="btn-txt" >Hide Filters</span> `
     }
}

function changeToActive(){
  categories = category.split('|')
    $('.category-active').each(function(){
      $(this).click()
    })
  for(var a in categories){
    if(categories[a]==""){
      continue
    }else{
      document.getElementsByName(categories[a])[0].click()
    }
    document.getElementById('amount-left').innerHTML = min
    document.getElementById('amount-right').innerHTML = max
  }
  brands = brand.split('|')
    $('.brand-active').each(function(){
      $(this).click()
    })
  for(var b in brands){
    if(brands[b]==""){
      continue
    }else{
      document.getElementsByName(brands[b])[0].click()
    }
  }
}

    function settingFilter(element){
     if(element.id == 'brand' && !element.classList.contains('brand-active')){
      element.classList.add('brand-active')
     }else if(element.id == 'category' && !element.classList.contains('category-active')){
      element.classList.add('category-active')
     }else if(element.id=='category' && element.classList.contains('category-active')){
      element.classList.remove('category-active')
     }else if(element.id == 'brand' && element.classList.contains('brand-active')){
      element.classList.remove('brand-active')
     }
    }

    function submitFilter(element){
      query_category = ""
      query_brand = ""
      min = ""
      max = ""
      $(".category-active").each(function(){
        query_category+=$(this).val() + '|';
      })
      $(".brand-active").each(function(){
        query_brand+=$(this).val() + '|';
      })
      min = document.getElementById('input-left').value
      max = document.getElementById('input-right').value

        loadProducts()
        location.replace("/product/products?category="+query_category+"&brand="+query_brand+"&min="+min+"&max="+max)

        /*var search = document.getElementById("apply")*/
        /*location.replace("/product/products?category="+query_category)*/
    }

    function submitForm(element){
        var id = element.value;
        $.ajax({
            url : '/product/wishlist',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({id: id}),
            success: async function(res){
                if (res.status == "add"){
                    // element.classList.remove("bx-bookmarks")
                    element.classList.add('bxs-bookmark')
                    element.classList.add('bx-tada')
                    setTimeout(function(){element.classList.remove('bx-tada')}, 1000)
                } else if (res.status == "remove") {
                    // element.classList.add("bi-bookmarks")
                    element.classList.remove('bxs-bookmark')
                    element.classList.add('bx-tada')
                    setTimeout(function(){element.classList.remove('bx-tada')}, 1000)
                }else{
                  $('#details_'+element.value).modal('hide')
                  await fireLogin(element)
                }
            },
        })
    }

function fireLogin(element){
    Swal.fire({
        title: 'Login Form',
        html: `<input type="text" id="login" class="swal2-input" placeholder="Username">
        <input type="password" id="password" class="swal2-input" style="margin-bottom:10px;" placeholder="Password">
        <div id="grecaptcha" class="g-recaptcha" style="margin:auto; max-width:305px;"></div>`,
        didOpen: () => {
            grecaptcha.render('grecaptcha', {
              'sitekey': '6Lewq24hAAAAACTG1H4_1IpHf0xOD0WiLpgl3GOI'
            })
          },
        confirmButtonText: 'Sign in',
        focusConfirm: true,
        preConfirm: () => {
          if (grecaptcha.getResponse().length === 0) {
              Swal.showValidationMessage(`Please verify that you're not a robot`)
            }
            const login = Swal.getPopup().querySelector('#login').value
            const password = Swal.getPopup().querySelector('#password').value
            if (!login || !password) {
            Swal.showValidationMessage(`Please enter login and password`)
            }
            return { login: login, password: password }
        }
        }).then((result) => {
            $.ajax({
                type: 'POST',
                data:{
                    email: result.value.login,
                    password: result.value.password,
                    recaptcha: 'true',
                    shortcut: 'true'
                },
                url: '/user/login',
            }).then((result) => {checkStatus(result, element)})
        })
    }

function checkStatus(result, element){
    $.ajax({
        type: 'POST',
        url: '/user/checkStatus',
        success: function(res){
            if(res.status == 'logged in'){
                swal.fire({
                    title: "logging in ",
                    timer: 1000,
                    didOpen: () => {
                    Swal.showLoading()
                    const b = Swal.getHtmlContainer().querySelector('b')
                    timerInterval = setInterval(() => {
                    b.textContent = Swal.getTimerLeft()
                    }, 100)
                }
                })
                setTimeout(function(){
                  $('#details_'+element.value).modal('show')
                  submitForm(element)}, 1500)
            }else if(res.status == "not logged in"){
                swal.fire("invalid login")
            }
        }
    })
}
function getParameterByName(name, url = window.location.href) {
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

document.addEventListener("DOMContentLoaded", function () {
  var inputLeft = document.getElementById("input-left");
  var inputRight = document.getElementById("input-right");

  var thumbLeft = document.querySelector(".slider > .thumb.left");
  var thumbRight = document.querySelector(".slider > .thumb.right");
  var range = document.querySelector(".slider > .range");

  var amountLeft = document.getElementById("amount-left");
  var amountRight = document.getElementById("amount-right");

  function setLeftValue() {
    var _this = inputLeft,
      min = parseInt(_this.min),
      max = parseInt(_this.max);

    _this.value = Math.min(
      parseInt(_this.value),
      parseInt(inputRight.value) - 1
    );

    var percent = ((_this.value - min) / (max - min)) * 100;

    thumbLeft.style.left = percent + "%";
    range.style.left = percent + "%";
    amountLeft.innerText = parseInt(percent * 1);
  }
  setLeftValue();

  function setRightValue() {
    var _this = inputRight,
      min = parseInt(_this.min),
      max = parseInt(_this.max);

    _this.value = Math.max(
      parseInt(_this.value),
      parseInt(inputLeft.value) + 1
    );

    var percent = ((_this.value - min) / (max - min)) * 100;

    amountRight.innerText = parseInt(max * (percent/100));
    thumbRight.style.right = 100 - percent + "%";
    range.style.right = 100 - percent + "%";
  }
  setRightValue();

  inputLeft.addEventListener("input", setLeftValue);
  inputRight.addEventListener("input", setRightValue);

  inputLeft.addEventListener("mouseover", function () {
    thumbLeft.classList.add("hover");
  });
  inputLeft.addEventListener("mouseout", function () {
    thumbLeft.classList.remove("hover");
  });
  inputLeft.addEventListener("mousedown", function () {
    thumbLeft.classList.add("active");
  });
  inputLeft.addEventListener("mouseup", function () {
    thumbLeft.classList.remove("active");
  });

  inputRight.addEventListener("mouseover", function () {
    thumbRight.classList.add("hover");
  });
  inputRight.addEventListener("mouseout", function () {
    thumbRight.classList.remove("hover");
  });
  inputRight.addEventListener("mousedown", function () {
    thumbRight.classList.add("active");
  });
  inputRight.addEventListener("mouseup", function () {
    thumbRight.classList.remove("active");
  });
});
checkWishlist = function(id, wishlist){
    if(id == wishlist){
        return true;
    }else{
        return false
    }
}

window.addEventListener("load", loadProducts);
window.addEventListener("scroll",loadProducts);
function loadProducts() {
    if(working == false){
        working = true;

        $.ajax({
            type: "GET",
            url: "/product/nextpage?search="+search+"&page="+page+"&category="+category+"&brand="+brand+"&min="+min+"&max="+max,
            processData: false,
            contentType: "application/json",
            data: '',
            success: function(data){
              if(data['product'].length == 0 && page == 0){
                      $(".products").append(`<div class="py-6 py-lg-12">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
                    <img src="https://hmp.me/dw7n"alt="" class="img-fluid mb-4" style="height: 400px; padding-top: 75px;" />
                    <h3>The product you are looking for does <span style="color: #27ae60; font-weight:bold;"> not exist</span></h3>
                    <a href="/product/products" class="btn btn-outline-light" style="background:var(--green); ">Explore Products</a>
                </div>
            </div>
        </div>
    </div>`)
                  }else{
                for(var a in data['product']){
                    id = data['product'][a]['id']
                    price = data['product'][a]['product_price']
                    discount = parseFloat(data['product'][a]['discount'])
                    stock = data['product'][a]['stock']
                    desc = data['product'][a]['desc']
                    desc = desc.replace(/(\r\n|\n|\r)/gm, '<br>')
                    
                    if(discount > 0){
                        price_info = `<p class = "product-price">$`+price+`</p>
                                      <p class = "product-price">$`+parseFloat(parseFloat(price) * ((100-parseFloat(discount))/100)).toFixed(2)+`</p>
                                      </div>
                                    <div class="off-info">
                                            <h2 class = "sm-title">`+discount+`% off</h2>
                                      </div>`
                        modal_discount = `<p class="regular-price">`+discount+`% OFF </p>`
                    }else{
                        price_info = `<p class = "product-price"></p>
                                      <p class = "product-price">$`+parseFloat(parseFloat(price) * ((100-parseFloat(discount))/100)).toFixed(2)+`</p>
                                      </div>`
                        modal_discount = ""
                    }
                    if(typeof(data['wishlist']) == 'undefined'){
                        wishlist = `<button value=`+id+` class="btn btn-sm bx bx-bookmark" onclick="submitForm(this)" style="font-size:2rem; float:right!important"></button>`
                    }else {
                      if(data['wishlist'].length == 0){
                        wishlist = `<button value=`+id+` class="btn btn-sm bx bx-bookmark" onclick="submitForm(this)" style="font-size:2rem; float:right!important"></button>`
                      }else{
                        for(var check in data['wishlist']){
                            if(checkWishlist(id, data['wishlist'][check]['productId'])== true){
                              wishlist = `<button value=`+id+` class="btn btn-sm bx bx-bookmark bxs-bookmark" onclick="submitForm(this)" style="font-size:2rem; float:right!important"></button>`
                            }else{
                              wishlist = `<button value=`+id+` class="btn btn-sm bx bx-bookmark" onclick="submitForm(this)" style="font-size:2rem; float:right!important"></button>`
                            }
                          }
                      }
                    }
                    if(stock>0){
                        modal_stock = `<div class="stock-status"></div>
                                  <p class="stock-info">Stock:`+ stock+`</p>
                                  </div>
                                  <div class="buttons">
                                      <button type = "submit" class = "button" value="`+id+`"> 
                                          <ion-icon name="bag-add-outline"></ion-icon> Add to cart
                                      </button>
                                      <input type="hidden" name="quantity" value="1">
                                  </div>`
                    }else{
                        modal_stock = `<div class="stock-status"></div>
                                  <p class="stock-info">Out of stock</p>
                                  </div>
                                  <div class="buttons">
                                  <button type="submit" disabled class="btn btn-sm btn-danger">Out of Stock</button>
                                  </div>`
                    }
                    modal_id = "#details_" + id
                    image = `<img src="/images/`+ data['product'][a]['image'] + `">`
                    btns = `
                            <button class="btn-buy" style=style="text-decoration: none; color:black; text-align:center;" data-bs-toggle="modal" data-bs-target="`+modal_id+`">
                            details<span><i class = "fa fa-shopping-cart"></i></span></button>
                            `
                    form = `<form action=/cart/add/`+id+` method="post">
                            <input type="hidden" name="" value="">
                            <button type="submit" class="btn-cart" value="`+id+`"> add to cart</button>
                            <input type="hidden" name=quantity value="1">
                            </form>
                            `

                    productInfo = `<div class="product-info">
                                        <div class="product-info-top">
                                            <h2 class = "sm-title">`+data['product'][a]["brand.brand_name"]+`</h2>
                                            <div class="rating" style="">
                                                <span><i class= "fas fa-star"></i></span>
                                                <span><i class= "fas fa-star"></i></span>
                                                <span><i class= "fas fa-star"></i></span>
                                                <span><i class= "fas fa-star"></i></span>
                                                <span><i class= "fas fa-star"></i></span>
                                            </div>
                                        </div>
                                        <a data-bs-toggle="modal" data-bs-target="`+modal_id+`" class="product-name">`+data['product'][a]['product_name']+`</a>
                                        `+price_info
                    modal = `<div class="modal" id="details_`+id+`" >
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                            <div class="modal-content">
                            <div class="product-card" style="text-decoration: none;">
                            <div class="image-container" style="text-decoration: none;">
                              <div class="cover-image product-image">
                                <img src="/images/`+data['product'][a]['image']+`" alt="`+data['product'][a]['product_name']+`">
                              </div>
                            </div>
                            <div class="product-info">
                            <button type="submit" class="close fa-2x" data-bs-dismiss="modal" aria-label="Close" style="background-color:white; float: right!important">
                                        <span aria-hidden="true">&times;</span>
                            </button>
                              <p class="free-shipping" style="text-decoration: none;">Free Delivery</p>
                              <h3 class="product-name">`+data['product'][a]['product_name']+`</h3>
                                        `+modal_discount+`
                                        <p class="discount-price">$`+(parseFloat(parseFloat(price) * ((100-parseFloat(discount))/100)).toFixed(2))+`</p>
                                        <p class="offer-info">`+desc+`</p>
                                        <form action="/cart/add/{{id}}" method="post">
                                        <div class="stock">`+modal_stock+`
                                        </form>
                                        `+wishlist+`
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                                        `
                      image_id = "<div class='product-img'><a href='"+ modal_id+"' data-bs-toggle='modal'>"+image+"</a></div>"                                                                                                                                                                                                     
                      $(".product-items").append(`<div class='product'><div class="product-content">`+image_id+`<div class = "product-btns">`+btns+modal+form+`</div></div>`+productInfo+`</div>`)
                      /*$('body').append(modal)*/

                }
                                          }
                page += 1
                setTimeout(function(){
                    working = false;
                }, 500)
            }
            })
    }
}
</script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


<style>
.price-input{
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field{
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input{
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator{
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress{
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17A2B8;
}
.range-input{
  position: relative;
}
.range-input input{
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb{
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
input[type="range"]::-moz-range-thumb{
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17A2B8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}
</style>