{{#if carts}}
<div class="container mt-4">
    <div class="row">
        {{#each carts}}
        <table class="table table-sm">
            <thead>
                <th>Sr</th>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Subtotal</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{id}}</td>
                    <td><img src="/images/{{"product.image"}}" alt="{{product.image}}" width="80" height="80"></td>
                    <td>{{"product.product_name"}}</td>
                    <td>{{"product.product_price"}}</td>
                    <td> 
                        <input type="number" name="quantity" id ='quantity' min="1" max="{{product.stock}}" value="{{product.quantity}}" onchange="submitFunction()">
                        <input type="hidden" name="product_id" id='product_id' value="{{id}}">
                        <input type="hidden" name="stock" id="stock" value="{{product.stock}}">
                    </td>

                    <td>{{"product.discount"}}</td>
                    <td>{{"product.product_price"}}</td>
                    <td><a href = "/cart/delete/{{id}}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{{/each}}
</div>
{{else}}
<h2>No cart</h2>
{{/if}}


<script>
        function submitFunction(){
        var form =document.getElementById("item_{{id}}");
        form.submit();
    }
</script>

