<div class="container my-5 py-5">
  <section>
    <div class="row">
      <div class="col-md-8 mb-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-font text-uppercase">Delivery</h5>
          </div>
          <div class="card-body">
            <form method="post" action="">
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline mb -4">
                      <input type="text" id="name" class="form-control" for="name" name="name">
                      <label class="form-label" for="name"> Name</label>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="email" class="form-control" name="email"/>
                  <label class="form-label" for="email">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="address" class="form-control" name="address">
                  <label class="form-label" for="address">Address</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="number" id="phone" class="form-control" name="phone">
                  <label class="form-label" for="phone">Phone</label>
                </div>

                <input type="date" name="fromDate" id="datefield" min="" required>
                <label for="date"><i class="fa fa-user"></i> Delivery Date</label>
              
                <select name="time" id="time" placeholder="Select Time Slot" required>
                    <option value="" disabled selected>Select Time Slot</option>
                    <option value="9AM - 12PM">9AM - 12PM</option>
                    <option value="1PM - 4PM">1PM - 4PM</option>
                    <option value="5PM - 8PM">5PM - 8PM</option>
                </select>
                <label for="email"><i class="fa fa-envelope"></i> Delivery Time</label>
                
          </div>
              </div>
                <div class="text-center">
                    <input type="submit" value="Continue to payment" class="btn button-order col-md-12">
                    {{!-- <input type="hidden" value="{{carts.id}}" id="cartId" name="cartId"> --}}

                </div>
        </form>
      </div>
        <div class="col-md-4 mb-4 position-static">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-font">Order Summary 
              <a class="float-end mt-1" style="font-size: 13px;" href="/cart/cart">Edit</a></h5>
          </div>
          {{#if carts}}
          {{#each carts}}
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img src="/images/{{"product.image"}}" alt="{{product.image}}" class="rounded-3" style="width: 100px;">
              </div>
              <div class="col-md-6 ms-3">
                <p class="mb-0 text-descriptions">Product: {{product_name}} </p>
                <p class="mb-0 text-descriptions">Price: {{totalCost}}</p>
                <p class="text-descriptions mt-0">Qty:<span class="text-descriptions fw-bold">{{quantity}}</span>
                </p>
                <p class="mb-0 text-descriptions">Total Price: {{product_price}}</p>
              </div>
            </div>
            <hr>
            {{/each}}

            {{else}}
            <h2>Hi</h2>

          </div>
        </div>
      </div>
    </div>
  </section>
 {{/if}}

</div>

<style>
.text-font{
font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
font-weight: 700;
letter-spacing: .156rem;
font-size: 1.125rem;
}
.text-price{
padding: 0 .625rem;
font-style: normal;
font-size: 1rem;
font-weight: 700;
line-height: .813rem;
letter-spacing: 1.6px;
}
.text-descriptions{
font-style: normal;
font-size: 1rem !important;
font-weight: 400;
line-height: 1.125rem;
margin: .313rem 0 .938rem;
padding: 0 .625rem;
}

.button-order{
font-style: normal;
font-size: 1rem;
background-color: #27ae60;
color: white;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type=date] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

select{
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}
</style>

<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
    dd = '0' + dd;
    }

    if (mm < 10) {
    mm = '0' + mm;
    } 
        
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("min", today);
    alert(document.getElementById("cartId").value)
</script>