<link rel="stylesheet" href="/css/product.css">


<div class="container-fluid">
    <div class="container text-center" style="padding: 50px;">
        <div style="border-radius:200px; height:200px; width:200px; background: #eee; margin:0 auto;">
        <i class="checkmark">✓</i>
        </div>
        <h1>Success</h1>
        <p class="w-lg-50 mx-auto">We will immediately process your order and it will be delivered in 2 - 5 business days.</p>
    </div>
    <div class="container">
        <h2 class="h5 mb-5 text-center">You may also like these products</h2>
        <div class="row">
            {{#if products}}
            {{#each products}}
            <div class="col-lg-3">
                <div class="card text-center mb-3">
                    <div class="py-5 px-4">
                        <img src = "/images/{{image}}" alt="{{product_name}}" alt = "product image" class="img-fluid mb-4" />
                        <h3 class="fs-6 text-truncate"><a data-bs-toggle="modal" data-bs-target="#details_{{id}}" class="stretched-link text-reset">Name: {{product_name}}</a></h3>
                        <span class="text-success">Price: ${{product_price}}</span>
                    </div>
                    <div class="bg-danger text-white small position-absolute end-0 top-0 px-2 py-2 lh-1 text-center">
                        <span class="d-block">{{discount}}%</span>
                        <span class="d-block">OFF</span>
                    </div>
                </div>
            </div>
            {{!-- modal --}}
                    <div class="modal" tabindex="-1" id="details_{{id}}" data-backdrop="static" data-bs-focus="false" >
                      <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                          <div class="product-card" style="text-decoration: none;">
                            <div class="image-container" style="text-decoration: none;">
                              <div class="cover-image product-image">
                                <img src="/images/{{image}}" alt="{{product_name}}">
                              </div>
                            </div>
                            <div class="product-info">
                              <p class="free-shipping" style="text-decoration: none;">Free Delivery</p>
                              <h3 class="product-name">{{product_name}}</h3>
                              <p class="regular-price">{{discount}} % OFF </p>
                              <p class="discount-price">${{product_price}}</p>
                              <p class="offer-info">{{desc}}</p>
                              <form action="/cart/add/{{id}}" method="post">
                              <input type="hidden" name="" value="">
                              <button type = "submit" class="add-to-cart" style="text-decoration: none;">
                                <ion-icon name="add-outline"></ion-icon> Add to cart
                              </button>
                              <div class="stock">
                                <div class="remove-status"></div>
                                <p class="stock-info">Stock: {{stock}}</p>
                              </div>
                              <div class="buttons">
                                  <button type = "submit" class = "button" value="{{id}}"> 
                                      <ion-icon name="bag-add-outline"></ion-icon> Add to cart
                                  </button>
                                  <input type="hidden" name="quantity" value="1">
                                <a href="#" class="button" style="text-decoration: none;">
                                  <ion-icon name="heart-outline"></ion-icon> Add to wishlist
                                </a>
                              </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                {{!-- end of modal --}}
            {{/each}}
            {{else}}
            <h1>hi</h1>
            {{/if}}
        </div>
    </div>
</div>

<style>
.text-center {
    text-align: center !important;
}
.mb-5 {
    margin-bottom: 3rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
}
a {
    color: #5465ff;
    text-decoration: none;
}
body {
    background;
}
.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #eee;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 1rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}
.checkmark{
    color: #27ae60;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}
h1{
    color: #27ae60;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 30px;
}
p{
    color: #404F5E;
    font-size:20px;
    margin: 0;
}
</style>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>