<!-- blog -->
{{#if blogs}}
<section class ="blog" id = "blog">
	<div class = "container">
	
	<div class = "title">
		<h2>Latest Blogs</h2>
		<p>recent blogs about food</p>
		<hr></hr>
	</div>
	<div class = "blog-content">
		<!-- item -->
	  <div class="row">
		{{#each blogs}}
		<div class = "blog-item">
		<div class = "blog-img">
			<img src = "/images/{{image}}" alt = "">
		</div>
		<div class = "blog-text">
			<span>{{createdAt}}</span>
			<button style="font-size: 22px;" type="button" data-bs-toggle="modal" data-bs-target="#myModal" class="button1">{{title}}</button>

			{{!-- <div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<div class="modal-title" style="font-size: 18.72px; font-weight:bold; font-family: var(--Playfair);">{{id}}</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<div class="modal-body" style="font-size: 16px; font-family:var(--Quicksand);">
						{{article}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
			</div> --}}

			<p>{{topic}}</p>
			<a href = '/blog/editBlog/{{id}}'>Edit</a>
			<a href = "/blog/deleteBlog/{{id}}" class="float-end">Delete</a>
		</div>
		</div>
		{{/each}}
		</div>
		<!-- end of item -->
	</div>
	</div>
</section>
{{else}}
    <div class="py-6 py-lg-12">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6 col-md-12 col-12 text-center">
                    <img src="https://imgv3.fotor.com/images/side/How-to-make-happy-new-year-card.png" alt="" class="img-fluid mb-4" style="height: 450px; padding-top: 75px;" />
                    <h1 style="color: #666;">No blogs written</h1>
                </div>
            </div>
        </div>
    </div>
{{/if}}


<style>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
	--Playfair: 'Playfair Display', serif;
	--Quicksand: 'Quicksand', sans-serif;
	--Roboto: 'Roboto', sans-serif;
	--dark: #3c393d;
	--exDark: #2b2b2b;
}
*{
	padding: 0;
	margin: 0;
	font-family: var(--Quicksand);
	box-sizing: border-box;
}
body{
	line-height: 1.4;
	color: var(--dark);
}
.container{
	max-width: 1200px;
}
.title{
    text-align: center;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
	height: 360px ;
	width: 360px;
}
.row {margin: 0 -5px;}
.blog-item{
	float: left;
	width: 33.333%;
	padding: 0 10px;
}
.blog-text{
    margin: 2.3rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text .button1{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
	background-color: #f9f9f9;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--exDark);
}
</style>

